body {
  background-color: var(--base-color);
}
.main {
  width: 100%;
  position: relative;
}
.title {
  font-size: 30px !important;
  margin-top: 120px;
  margin-bottom: 25px;
}


/* About section */

.aboutText {
  font-size: 18px !important;
  line-height: 28px;
  text-align: left;
}
.boldText {
  font-weight: bold;
  color: black;
  text-shadow: var(--highlight-shadow);
  font-size: 20px;
  text-decoration: underline var(--highlight-color);
}
.pictureContainer {
  margin-top: 50px;
  justify-content: left;
  display: flex;
  flex-direction: row;
}
.pictures {
  width: 22%;
  margin-right: 3vw;
  box-shadow: var(--shadow);
}


/* tools section */

.toolsHover {
  font-size: 15px;
}
.toolsMain {
  text-align: left;
}
.subTitle {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-decoration: underline wavy var(--highlight-color);
  font-weight: bold;
}
.toolsContainer {
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 8px;
  font-size: 18px;
  margin: 4px 12px 12px 0px;
  background-color: var(--dark-color);
  color: var(--base-color);
  box-shadow: var(--shadow);
}
.toolsContainer .tipText {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-size: 20px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.toolsContainer .tipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.toolsContainer:hover .tipText {
  visibility: visible;
  opacity: 1;
}


/* applications section */

.appContainer {
  margin-bottom: 30px;
  display: flex;
  text-align: center;
  border: var(--base-border) !important;
  box-shadow: var(--shadow);
  padding: 15px;
}
.appPic {
  width: 0;
  height: 0;
  box-shadow: var(--shadow);
  flex: 0 0 auto;
}
.appTitle {
  font-size: 26px;
  margin-bottom: 8px;
}
.appTech {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--highlight-color);
  text-shadow: var(--highlight-shadow);
  color: black;
  text-shadow: none;
  text-decoration: underline var(--highlight-color);
}
.appDescription {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  padding-left: 15px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.appButton {
  text-decoration: none;
  margin: 15px 20px 0px 20px;
  display: inline-block;
  border: var(--dark-border);
  background-color: var(--dark-color);
  color: var(--base-color);
  width: 65px;
  padding: 9px;
  font-size: 18px;
  border-radius: 1px;
  box-shadow: var(--shadow);
  transition-duration: .3s;
  transition-timing-function: linear;
  cursor: pointer;
}
.appButton:hover {
  margin: 15px 20px 0px 20px;
  display: inline-block;
  background-color: var(--light-color);
  color: black;
  width: 65px;
  padding: 9px;
  font-size: 18px;
  border-radius: 2px;
  box-shadow: 0px 0px 0px;
}


/* education section */

.collapseOrExpand {
  font-size: 15px;
  cursor: pointer;
}
.openCover {
  background-color: var(--dark-color);
  color: var(--base-color);
  padding: 15px;
  margin-top: 5px;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.closedCover {
  background-color: var(--light-color);
  color: black;
  border: var(--light-border);
  padding: 15px;
  margin-top: 5px;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.schoolName {
  font-size: 16px;
}
.closedDate {
  display: inline-block;
  margin-left: 5px;
  color: var(--date-color);
  font-size: 15px;
}
.openDate {
  display: inline-block;
  margin-left: 5px;
  color: var(--base-color);
  font-size: 15px;
}
.edButton {
  font-size: 13px;
  float: right;
  /* margin-top: -1px; */
}
.openText {
  padding: 15px;
  margin-top: 5px;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  border: var(--base-border) !important;
}
.closedText {
  display: none;
}
.edTitle {
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
  text-shadow: var(--highlight-shadow);
  text-decoration: underline var(--highlight-color);
}


/* volunteering section */

.timelineMain {
  display: flex;
  overflow: hidden;
}
.timelineSide {
  display: none;
}
.timelineSymbol {
  margin-left: 2px;
  margin-top: 10px;
  padding: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: var(--dark-color);
  box-shadow: var(--shadow);
  color: var(--base-color);
  font-size: 27px;
  text-align: center;
  line-height: 50px;
}
.timelineLine {
  display: table;
  width: 5px;
  height: 90%;
  margin-left: 24px;
  background-color: var(--dark-color);
  box-shadow: var(--shadow);
  display: block;
}
.timelineCircle {
  position: absolute;
  bottom: 1px;
  margin-left: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: var(--dark-color);
  box-shadow: var(--shadow);
}
.timelineContainer {
  position: relative;
  padding: 15px;
  margin: 0px 5px 30px 5px;
  background-color: var(--light-color);
  border: var(--light-border);
  box-shadow: var(--shadow);
}
.timelineTitle {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.timelineDate {
  display: inline-block;
  margin-left: 10px;
  color: var(--date-color);
  font-size: 15px;
}
.timelineText {
  font-size: 16px;
  padding: 10px;
  line-height: 30px;
}


@media only screen and (min-width: 47em) {
  .main {
    width: 80vw;
    margin: auto;
  }
  .title {
    font-size: 40px !important;
  }
  .pictures {
    width: 19vw;
    margin-right: 2vw;
  }
  .aboutText {
    font-size: 17px;
  }
  .boldText {
    font-size: 22px;
  }
  .subTitle {
    font-size: 24px;
  }
  .toolsContainer {
    font-size: 22px;
    margin: 8px 16px 16px 0px;
  }
  .appContainer {
    border: var(--base-border) !important;
    box-shadow: var(--shadow);
    padding: 0px;
    padding: 0px 15px 15px 0px;
  }
  .appTitle {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .apptools {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .appDescription {
    font-size: 17px;
  }
  .schoolName {
    font-size: 20px;
  }
  .closedDate {
    margin-left: 10px;
    font-size: 17px;
  }
  .openDate {
    margin-left: 10px;
    font-size: 17px;
  }
  .edTitle {
    font-size: 20px;
  }
  .openText {
    font-size: 18px;
  }
  .timelineSide {
    display: inline-block;
  }
  .timelineLine {
    height: 90%;
  }
  .timelineContainer {
    height: 100%;
    margin: 15px 3px 15px 20px;
  }
  .timelineTitle {
    font-size: 20px;
  }
  .timelineDate {
    font-size: 17px;
  }
}

@media only screen and (min-width: 56em) {
  .main {
    width: 800px;
    margin: auto;
  }
  .title {
    font-size: 45px !important;
  }
  .pictures {
    width: 180px;
    margin-right: 30px;
  }
  .appContainer {
    border: none !important;
    box-shadow: none;
  }
  .appPic {
    width: 320px !important;
    height: 280px !important;
  }
  .schoolName {
    font-size: 22px;
  }
  .closedDate {
    margin-left: 10px;
    font-size: 18px;
  }
  .openDate {
    margin-left: 10px;
    font-size: 18px;
  }
  .edTitle {
    font-size: 22px;
  }
  .timelineLine {
    height: 90%;
  }
  .timelineContainer {
    width: 870px;
  }
  .timelineTitle {
    font-size: 23px;
  }
  .timelineDate {
    font-size: 18px;
  }
}