.header {
  height: 0px;
  margin: -8px;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.ellipsis{
  position: fixed;
  height: 5px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  filter: drop-shadow(1px 1px 1px #adb5c7);
  border: none;
  color: black;
  z-index: 5;
}
.ellipsis:hover {
  color: grey;
}

@media only screen and (min-width: 47em) {
  .ellipsis{
    padding: 20px;
    font-size: 50px;
  }
}
@media only screen and (min-width: 65em) {
  .ellipsis{
    padding: 20px;
    font-size: 50px;
  }
}