.header {
  width: 100%;
  height: 30px;
  margin: -8px;
  text-align: right;
  font-family: 'Raleway', sans-serif;
}
.menu{
  position: fixed;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: rgb(37, 27, 8);
  z-index: 5;
}
.menu:hover {
  color: rgb(96, 96, 96);
}

@media only screen and (min-width: 47em) {
  .menu{
    padding: 20px;
    font-size: 50px;
  }
}
@media only screen and (min-width: 65em) {
  .menu{
    padding: 20px;
    font-size: 50px;
  }
}