.main {
  font-family: Arial;
  width: 300px;
  background-color: rgb(177, 160, 196);
  position: fixed;
  left: 150px;
  top: 0px;
  bottom: 0px;
  padding-left: 15px;
  text-align: center;
}
.picture {
    width: 200px;
    margin-top: 20px;
    border-radius: 150px;
}
.title {
  font-size: 30px;
}
.list {
  font-size: 20px;
}
.post {
  font-size: 15px;
}