:root {
  --base-color: rgb(238, 238, 238);
  --base-border: 1px solid rgb(180, 178, 181);

  --dark-color: rgb(54, 37, 104);
  --dark-border: 1px rgb(33, 22, 63);

  --light-color: rgb(147, 147, 147);
  --light-border: 1px solid rgb(135, 135, 135);

  --shadow: 1px 1px 3px #1A1D1E;
}
body {
  background-color: var(--base-color);
}
html {
  scroll-behavior: smooth;
}
.main {
  width: 650px;
  margin: 0 auto;
  margin-bottom: 80px;
  font-family: Arial;
  position: relative;
  font-size: 20px;
}
.title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.subTitle {
  font-size: 20px;
  margin-top: 20px;
}
.text {
  font-size: 17px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.aboutText {
  font-size: 17px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 60px;
}
.boldText {
  font-weight: bold;
}
.roleTitle {
  font-size: 21px;
}
.date {
  font-size: 23px;
  color: var(--dark-color);
  margin-right: 20px;
  margin-left: 20px;
}
.pictureContainer {
  justify-content: left;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* align-content: flex-start; */
}
.pictures {
  width: 140px;
  margin-right: 2vw;
  box-shadow: var(--shadow);
}
@media only screen and (min-width: 768px) {
  .pictures {
    width: 180px;
  }
  .main {
    width: 800px;
  }
}

.experienceLine {
  font-size: 10px;
}
.experienceContentBox {

}
.roleTitle {

}
.contactList {
  /* display: flex; */
}
.contact {
  /* width: 200px; */
}
.contactPic {
  /* width: 50px; */
}
.contactTitle {
  display: inline-block;
  margin-left: 30px;
}
.contactText {
  display: inline-block;
  line-height: 100px;
  height: 50px;
  margin-left: 30px;
}
.openCover {
  background-color: var(--dark-color);
  color: var(--base-color);
  padding: 15px;
  margin-top: 5px;
  margin-right:25px;
  box-shadow: var(--shadow);
}
.closedCover {
  background-color: var(--light-color);
  color: black;
  border: var(--light-border);
  padding: 15px;
  margin-top: 5px;
  margin-right:25px;
  box-shadow: var(--shadow);
}
.schoolName {

}
.button {
  font-size: 30px;
  float: right;
}
.openText {
  display: block;
  padding: 15px;
  margin-right: 25px;
  margin-top: 5px;
  font-size: 18px;
  border: var(--base-border) !important;
}
.closedText {
  display: none;
}
.skillContainer {
  text-align: center;
  display: inline-block;
  padding: 8px;
  margin: 8px 16px 8px 0px;
  background-color: var(--dark-color);
  font-family: 'Raleway', sans-serif;
  color: var(--base-color);
  box-shadow: var(--shadow);
}
.proficient {
  width: 10px;
  background-color: black;
}
.intermediate {

}
.basic {

}
.appContainer {
  /* border: 1px solid rgb(104, 104, 104); */
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}
.appPic {
  width: 0px;
  box-shadow: var(--shadow);
}
@media only screen and (min-width: 768px) {
  .appPic {
    width: 300px;
    height: 260px;
  }
}
.appMain {
  margin-left: 5px;
}
.appTitle {
  margin-bottom: 8px;
}
.appTech {
  font-size: 16px;
}
.appDescription {
  width: 460px;
  font-size: 17px;
  margin: 8px;
  text-align: left;
}
.appButton {
  text-decoration: none;
  margin: 15px 45px 0px 45px;
  display: inline-block;
  border: var(--dark-border);
  background-color: var(--dark-color);
  color: var(--base-color);
  width: 60px;
  padding: 8px;
  font-size: 18px;
  border-radius: 1px;
  box-shadow: var(--shadow);
  transition-duration: .3s;
  transition-timing-function: linear;
}
.appButton:hover {
  margin: 15px 45px 0px 45px;
  display: inline-block;
  background-color: var(--light-color);
  color: black;
  width: 60px;
  padding: 8px;
  font-size: 18px;
  border-radius: 2px;
  box-shadow: 0px 0px 0px;
}