.main {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Arial;
  margin-left: 480px;
  position: relative;
  font-size: 20px;
  /* background-color: rgb(46, 46, 180); */
}
.title {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.boldText {
  font-weight: bold;
}
.pictures {
  width: 100px;
}
.apps {
  font-size: 25px;
}
.appTitle {
  font-size: 20px;
}
.contentContainer {
 display: flex;
}
.appPics {
  width: 300px;
}
.AppTechList {
  font-size: 15px;
}
.AppDescription {
  font-size: 10px;
}