/* :root {
  --anyvariablename: 50px;
  --some-other: var(--anyvariablename) solid black;
  --calcs: calc(var(--anyvariablename) * 2)
}

.thick-border {
  border: var(--anyvariablename);
} */

.main {
  margin-top: 30px;
  margin-bottom: 150px;
  font-family: Arial;
  margin-left: 480px;
  position: relative;
  font-size: 20px;
  /* background-color: rgb(46, 46, 180); */
}
.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.subTitle {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.text {
  font-size: 17px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.aboutText {
  font-size: 17px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 60px;
}
.boldText {
  font-weight: bold;
}
.roleTitle {
  font-size: 21px;
}
.date {
  font-size: 23px;
  color: rgb(34, 34, 34);
  margin-right: 20px;
  margin-left: 20px;
}
.pictureContainer {
  /* margin: 10px; */
}
.pictures {
  width: 160px;
  padding-right: 16px;
}
.apps {
  font-size: 25px;
}
.appTitle {
  font-size: 20px;
}
.contentContainer {
 display: flex;
}
.appPic {
  width: 300px;
}
.AppTechList {
  font-size: 15px;
}
.AppDescription {
  font-size: 10px;
}
.experienceLine {
  font-size: 10px;
}
.experienceContentBox {

}
.roleTitle {

}
.contactList {
  /* display: flex; */
}
.contact {
  /* width: 200px; */
}
.contactPic {
  /* width: 50px; */
}
.contactTitle {
  display: inline-block;
  margin-left: 30px;
}
.contactText {
  display: inline-block;
  line-height: 100px;
  height: 50px;
  margin-left: 30px;
}
.openCover {
  background-color: rgb(107, 152, 236);
  color: rgb(255, 255, 255);
  padding: 15px;
  margin-top: 4px;
  margin-right:25px;
}
.closedCover {
  background-color: rgb(209, 219, 238);
  text-decoration-color: black;
  border: 1px solid rgb(227, 227, 227);
  padding: 15px;
  margin-top: 5px;
  margin-right:25px;
}
.schoolName {

}
.button {
  font-size: 23px;
  float: right;
}
.openText {
  display: block;
  padding: 15px;
  margin-right: 25px;
  margin-top: 5px;
  font-size: 18px;
  border: 1px solid rgb(227, 227, 227);
}
.closedText {
  display: none;
}
.skillContainer {
  border: 1px solid rgb(227, 227, 227);
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: rgb(209, 219, 238);
}
.proficient {
  width: 10px;
  background-color: black;
}
.intermediate {

}
.basic {

}