/* body {
  background-color: black;
  } */
.landingPage {
  width: 100vw;
  height: 100vh;
  margin-left: -8px;
  background-color: rgb(0, 0, 0);
  background-image: url('https://rachel-portfolio.s3.amazonaws.com/lightning.jpg');
  background-size: 1400px 1000px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: rgb(252, 237, 237);
  font-weight: 900;
  letter-spacing: 0.1em;
  font-family: sans-serif;
  text-shadow: 3px 3px 20px #1A1D1E;
}
.name {
  font-family: 'Raleway', sans-serif;
  font-size: 5vw;
  line-height: 10vh;
  margin-top: 24vh;
}
.title {
  font-size: 2.5vw;
  margin: 5vh;
  line-height: 8vh;
}
.linkList {
  width: 900px;
  margin: 0 auto;
  line-height: 1.5vh;
}
.link {
  font-size: 1.5vw;
  display: inline-block;
  margin: 2vh;
  padding: 7px;
  transition-duration: .5s;
  transition-timing-function: linear;
}
.link:hover {
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 2px;
}
a {
  text-decoration: none;
  color: rgb(252, 237, 237);
  transition-duration: .5s;
  transition-timing-function: linear;
}
a:hover {
  color: black;
}
.text {
  display: inline-block;
  margin-left: 5px;
}
.arrow {
  color: rgb(254, 243, 243);
  margin-top: 17vh;
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-size: 16px;
  animation-direction: alternate-reverse;
  animation-delay: 4s;
  animation-timing-function: ease-in-out;
}
@keyframes arrow {
  from {font-size: 18px;}
  to {font-size: 16px;}
}