.main {
  font-family: Georgia, 'Times New Roman', serif;
  /* font-family: Verdana, sans-serif; */
  width: 300px;
  background-color: rgb(209, 219, 238);
  position: fixed;
  left: 150px;
  top: 0px;
  bottom: 0px;
  padding-left: 15px;
  text-align: center;
}
.header {
  margin: 30px 0px 30px 0px;
}
.picture {
  width: 220px;
  margin-top: 50px;
  border-radius: 150px;
}
.name {
  font-size: 30px;
}
.title {
  font-size: 25px;
}
.list {
  font-size: 20px;
}
.post {
  margin: 45px 30px 0px 30px;
  font-size: 16px;
}
.download {
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid rgb(157, 158, 172);
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}
.downloadHover {
  margin-top: 20px;
  padding: 5px;
  display: inline-block;
  border: 1px solid rgb(157, 158, 172);
  border-radius: 5px;
  background-color: rgb(107, 152, 236);
  color: rgb(255, 255, 255);
  font-size: 18px;
}