.topLink {
  font-size: 18px;
  margin: 15px;
  position: block;
  display: flex;
  justify-content: center;
  color: rgb(54, 37, 104);
}
.footer {
 position: relative;
 left: 0;
 bottom: 8px;
 width: 100%;
 display: flex;
 font-size: 18px;
 justify-content: center;
 color: rgb(54, 37, 104);
}
.links {
  margin-left: 5px;
}